<div class="menu">
    <h1 class="menu__title">{{title}}</h1>
    <img src={{image}} alt={{title}}/>
    <ul class="list">
        {{#each items}}
            <li class="list__item">{{this}}</li>
        {{/each}}
    </ul>
</div>